{% extends "base.html" %}

{% block extra_title %}
    {% if logged_in %}
        Home
    {% else %}
        Login
    {% endif %}
{% endblock extra_title %}

{% block extra_nav_login_logout %}
    {% if logged_in %}
         <div class="colllapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if active_tab == 'received' %}active{% endif %}">
                    <a class="nav-link" href="/received">Received</a>
                </li>
                <li class="nav-item {% if active_tab == 'envied' %}active{% endif %}">
                    <a class="nav-link" href="/envied">Envied</a>
                </li>
                <li class="nav-item {% if active_tab == 'blog' %}active{% endif %}">
                    <a class="nav-link" href="/deleted">Deleted</a>
                </li>
            </ul>
           <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">{{ weather_info.name }} | {{ weather_info.main.temp }}ª
                    <img alt="weather" src="/assets/img/bad-weather.png">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ logout_url }}">
                    <img alt="LogOut | {{ user.nickname() }}" src="/assets/img/email-out24px.png">
                </a>
              </li>
            </ul>
        </div>
    {% endif %}
{% endblock extra_nav_login_logout %}

{% block main_content %}
    {% if logged_in %}
        <h1 class="display-1 text-muted text-center">Hello, {{ user.nickname() }}</h1>
        <div class="text-center">
            <img class="text-center" alt="Imagen Inicio" src="/assets/img/Ninha.png"> <!-- ninja-portrait128px -->
        </div>
        <br>
        <form method="get" action="/received">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Received messages</button>
        </form>
        <br>
        <form method="get" action="/envied">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Sent messages</button>
        </form>
        <br>
        <form method="get" action="/deleted">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Deleted messages</button>
        </form>
        <br>

    {% else %}
        <h1 class="display-1 text-muted text-center">Hello, Anonymous!</h1>
        <div class="text-center">
            <p class="text-muted text-center">
                Please login here:
            </p>
            <a href="{{ login_url }}" class="text-center">
                <img alt="Login user." src="/assets/img/Ninja.png">
            </a>
        </div>
    {% endif %}
{% endblock main_content %}